 <!-- ====== Statistics ====== -->
 <section class="section statistics">
  <div class="title">
    <span>STATS</span>
    <h2>Our Statistics</h2>
  </div>

  <div class="row container">
    <div class="col">
      <div class="icon">
        <i class="bx bxs-check-square"></i>
      </div>
      <h3>Easy Order System</h3>
      <p>Lorem Ispum is a placeholder text commomly used as a free text.</p>
    </div>
    <div class="col">
      <div class="icon">
        <i class="bx bxs-user"></i>
      </div>
      <h3>On Time Delievery</h3>
      <p>Lorem Ispum is a placeholder text commomly used as a free text.</p>
    </div>
    <div class="col">
      <div class="icon">
        <i class="bx bxs-dollar-circle"></i>
      </div>
      <h3>Money Back Gaurantee</h3>
      <p>Lorem Ispum is a placeholder text commomly used as a free text.</p>
    </div>
    <div class="col">
      <div class="icon">
        <i class="bx bxs-user"></i>
      </div>
      <h3>24/7 Customer Support</h3>
      <p>Lorem Ispum is a placeholder text commomly used as a free text.</p>
    </div>
  </div>
</section>


  <!-- ====== Blogs ====== -->
  <section class="section blog">
    <div class="title">
      <span>BLOGS</span>
      <h2>Latest News</h2>
    </div>

    <div class="row container">
      <div class="col">
        <div class="top">
          <img src="assets/images/blog-1.png" alt="" />
        </div>
        <div class="bottom">
          <h3>Trendy</h3>
          <h4>
            Lorem Ispum is a placeholder text commomly used as a free text.
          </h4>
          <span>10 January 2021</span>
        </div>
      </div>
      <div class="col">
        <div class="top">
          <img src="assets/images/blog-2.png" alt="" />
        </div>
        <div class="bottom">
          <h3>Trendy</h3>
          <h4>
            Lorem Ispum is a placeholder text commomly used as a free text.
          </h4>
          <span>10 January 2021</span>
        </div>
      </div>
      <div class="col">
        <div class="top">
          <img src="assets/images/blog-3.png" alt="" />
        </div>
        <div class="bottom">
          <h3>Trendy</h3>
          <h4>
            Lorem Ispum is a placeholder text commomly used as a free text.
          </h4>
          <span>10 January 2023</span>
        </div>
      </div>
    </div>
  </section>



    <!-- ====== Footer ====== -->
    <footer class="footer">
      <div class="row container">
        <div class="col">
          <div class="logo d-flex">
            <img src="assets/images/logo.svg" alt="logo" />
          </div>
          <p>
            Lorem ispum is a placeholder text <br />
            commonly used as a free text.
          </p>
          <div class="icons d-flex">
            <div class="icon d-flex">
              <i class="bx bxl-facebook"></i>
            </div>
            <div class="icon d-flex"><i class="bx bxl-twitter"></i></div>
            <div class="icon d-flex"><i class="bx bxl-instagram"></i></div>
            <div class="icon d-flex"><i class="bx bxl-youtube"></i></div>
          </div>
          <p class="color">
            Copyrights 2023 <br />
            @Mohammed B. Elsadani
          </p>
        </div>
        <div class="col">
          <div>
            <h4>Product</h4>
             <a routerLink="/" >Download</a>
             <a routerLink="/" >Pricing</a>
             <a routerLink="/" >Locations</a>
             <a routerLink="/" >Server</a>
             <a routerLink="/" >Countries</a>
             <a routerLink="/" >Blog</a>
          </div>
          <div>
            <h4>Category</h4>
             <a routerLink="/" >Men</a>
             <a routerLink="/" >Women</a>
             <a routerLink="/" >Kids</a>
             <a routerLink="/" >Best Seller</a>
             <a routerLink="/" >New Arrivals</a>
          </div>
          <div>
            <h4>My Account</h4>
             <a routerLink="/" >My Account</a>
             <a routerLink="/" >Discount</a>
             <a routerLink="/" >Returns</a>
             <a routerLink="/" >Order History</a>
             <a routerLink="/" >Order Tracking</a>
          </div>
          <div>
            <h4>Contact Us</h4>
            <div class="d-flex">
              <div class="icon"><i class="bx bxs-map"></i></div>
              <span>123 Street Trafford, London, UK</span>
            </div>
            <div class="d-flex">
              <div class="icon"><i class="bx bxs-envelope"></i></div>
              <span>info@sitename.com</span>
            </div>
            <div class="d-flex">
              <div class="icon"><i class="bx bxs-phone"></i></div>
              <span>+456 789 789 001</span>
            </div>
          </div>
        </div>
      </div>
    </footer>
