
@import url(/src/styles.css);

@import '/node_modules/hamburgers/_sass/hamburgers/hamburgers.scss';


/* ========== Hero Area =========== */
.hero {
  height: 80vh;
  margin: 0 3rem;

  .row {
    height: 100%;
    background: url('/assets/images/bg.svg') center / cover no-repeat fixed;
    border-radius: 2rem;
    position: relative;

    .col {
      margin-left: 5rem;

      .subtitle {
        display: block;
        font-size: 1.8rem;
        margin-bottom: 4rem;
      }

      h1 {
        font-family: 'Aclonica', sans-serif;
        font-size: 11rem;
        line-height: 1;

        .i {
          color: var(--primary-color);
          position: relative;

          &:before {
            content: 'ı';
            position: absolute;
            color: var(--black-color);
          }
        }
      }

      p {
        font-size: 2rem;
        margin-bottom: 6rem;
      }

      .btn {
        display: inline-block;
        padding: 1.5rem 6rem;
        border-radius: 1rem;
        color: var(--white-color);
        font-weight: 500;
        font-size: 1.8rem;
        background: var(--btn-gradient);
        box-shadow: var(--box-shadow-1);
      }
    }

    img {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 30%;
    }
  }
}

@media (max-width: 1600px) {
  .hero .row img {
    width: 40rem;
  }
}

@media (max-width: 1200px) {
   .hero .row .col h1 {
    font-size: 7rem;
  }
}

@media (max-width: 768px) {
  .hero {
    .row {
      .col {
        position: absolute;
        top: 10%;
        margin-left: 0;

        .subtitle {
          font-size: 1.6rem;
        }

        h1 {
          font-size: 4rem;
        }

        p {
          font-size: 1.6rem;
        }

        .btn {
          padding: 1.2rem 4rem;
        }
      }

      img {
        width: 40rem;
      }
    }
  }
}

@media (max-width: 567px) {

  .hero {
    height: 100vh;
    margin: 0 1rem;

    .row {
      .col {
        .subtitle {
          font-size: 1.6rem;
          margin-bottom: 1.5rem;
        }

        h1 {
          font-size: 4rem;
        }

        p {
          font-size: 1.6rem;
          margin-bottom: 2rem;
        }

        .btn {
          padding: 1.2rem 4rem;
        }
      }

      img {
        width: 25rem;
      }
    }
  }
}





@import url(/src/styles.css);

@import '/node_modules/hamburgers/_sass/hamburgers/hamburgers.scss';


.section {
  .title {
    text-align: center;
    margin-bottom: 5rem;

    span {
      display: inline-block;
      border-bottom: 3px solid var(--primary-color);
      padding-bottom: 0.5rem;
      margin-bottom: 2rem;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        bottom: -0.7rem;
        right: 2rem;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background-color: var(--primary-color);
      }
    }

    h2 {
      font-size: 2.4rem;
    }
  }
}

.collection {
  .filters {
    justify-content: center;
  }
}

.container {
  padding: 0 1rem; }
