<!-- ====== Hero Area ====== -->
<div class="hero d-flex align-items-center">
  <div class="row container d-flex">
    <div class="col ">
      <span class="subtitle">Limited Time Only For Winter</span>
      <h1>fash<span class="i">i</span>on</h1>
      <p>LOOK YOUR BEST ON YOUR BEST DAY</p>

      <button class="btn" routerLink="/collection"> Explore Now!</button>
    </div>
    <div  class="col-12 col-lg-6 d-flex justify-content-center" >

      <img src="assets/images/woman-in-cart.png" alt="" />
    </div>
  </div>
</div>



<!-- ====== Collection ====== -->
<section class="section collection">
  <div class="title">
    <span>COLLECTION</span>
    <h2>Our Top Collection</h2>
  </div>
</section>

