<div class="overflow-hidden">
  <div class="item col-6 ">
    <div class="catch-id" routerLink="/details/{{ data.id }}">
      <img src="{{ data.image }}" alt="" />
      <div class="body">
        <h4>{{ data.title }}</h4>
        <p>{{ data.description }}</p>
      </div>
    </div>

    <div class="px-3 mb-2 d-flex justify-content-between align-items-center">
      <div id="cart" class="cart" data-totalitems="0"></div>

      <div class="page-wrapper">
        <button id="addtocart" *ngIf="!addBtn" (click)="addBtn = true">
          Add to Cart
          <span class="cart-item"></span>
        </button>
        <div class="d-flex w-60" *ngIf="addBtn">
          <input type="number" class="form-control" [(ngModel)]="amount" min="1" />
          <button class="btn btn-danger" (click)="add(); addBtn = false">
            Add
          </button>
        </div>
      </div>
      <span id="price">{{ data.price  }} $</span>
    </div>
  </div>

</div>
